[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "rula"]
	path = rula
	url = https://github.com/Chibikuri/rula.git