[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "quispr"]
	path = quispr
	url = https://github.com/sfc-aqua/quispr
