Makefile
run_unit_test
quisp
quisp_dbg
out/
.metadata/
.settings/
.qtenvrc
.oppbuildspec
.oppfeaturestate
quisp.dSYM/

PhotonicQubit_m.cc
PhotonicQubit_m.h
classical_messages_m.cc
classical_messages_m.h
/messages/*_m.cc
/messages/*_m.h

/networks/*
/networks/.gitignore
!networks/*.ned
!networks/*.ini
!networks/benchmark
